{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Lorem</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque natus quod nemo, minus ducimus reiciendis assumenda ullam praesentium, rerum veniam soluta ex pariatur aperiam eveniet fugit voluptas incidunt dolor nulla?
        </p>
    </div>
    <div class="col-4">        
        <img src="assets/img/thumbnail.png" class="img-thumbnail" alt="No se encontró la imagen">
    </div>
</div>

{{> footer }}

